<a href="https://colab.research.google.com/github/maulanaYanto/Maulana/blob/main/jawabanSesuaiKepercayaan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#nomor 1
angka1 = int(input("masukkan angka pertama: "))
angka2 = int(input("masukkan angka kedua: "))
jumlah = angka1+angka2

print("jumlah :", jumlah)

masukkan angka pertama: 1
masukkan angka kedua: 5
jumlah : 6

In [ ]:
jeruk1 =int(input("masukkan jumlah jeruk pertama: "))
jeruk2 = int(input("masukkan jumlah jeruk kedua: "))
jumlah = jeruk1-jeruk2

print("jumlah jeruk :", jumlah)

masukkan jumlah jeruk pertama: 50
masukkan jumlah jeruk kedua: 5
jumlah jeruk : 45

In [ ]:
hewan1 = int(input("masukkan jumlah hewan pertama: "))
hewan2 = int(input("masukkan jumlah hewan kedua: "))
jumlah = hewan1*hewan2

print("jumlah hewan :", jumlah)

masukkan jumlah hewan pertama: 3
masukkan jumlah hewan kedua: 5
jumlah hewan : 15

In [ ]:
barang1 = int(input("masukkan jumlah barang pertama: "))
barang2 = int(input("masukkan jumlah barang kedua: "))
jumlah = barang1//barang2

print("jumlah barang :", jumlah)

masukkan jumlah barang pertama: 10
masukkan jumlah barang kedua: 2
jumlah barang : 5

In [ ]:
#nomor2
n = 5
for i in range(1, n+1):
  for j in range(1, i+1):
    print(j, end="")
  print()

1
12
123
1234
12345

In [ ]:
#nomor 3
n = int(input("Jumlah mahasiswa: "))
nilai = [int(input(f"Masukkan nilai mahasiswa ke-{i+1}: ")) for i in range(n)]
for v in nilai:
    print(v)

Jumlah mahasiswa: 5
Masukkan nilai mahasiswa ke-1: 100
Masukkan nilai mahasiswa ke-2: 89
Masukkan nilai mahasiswa ke-3: 60
Masukkan nilai mahasiswa ke-4: 77
Masukkan nilai mahasiswa ke-5: 86
100
89
60
77
86

In [ ]:
rata_rata = sum(nilai) / n
print("Rata-rata nilai mahasiswa:", rata_rata)

Rata-rata nilai mahasiswa: 82.4

In [ ]:
nilai_tertinggi = max(nilai)
nilai_terendah = min(nilai)
print("Nilai tertinggi: " + str(nilai_tertinggi))
print("Nilai terendah: " + str(nilai_terendah))

Nilai tertinggi: 100
Nilai terendah: 60

In [ ]:
#nomor5
MatCoba1 = [[6,9],
            [5,7]]

MatCoba2 = [[7,1],
            [3,2]]

print("MatCoba1  MatCoba2 ")

for j in range(len(MatCoba1)):
    for i in range(len(MatCoba1[j])):
        print(MatCoba1[j][i], end=" ")
    print("  ", end="")
    for i in range(len(MatCoba2[j])):
        print(MatCoba2[j][i], end=" ")
    print()

MatCoba1  MatCoba2
6 9   7 1
5 7   3 2

In [ ]:
hasil = [[MatCoba1[j][i] + MatCoba2[j][i] for i in range(len(MatCoba1[j]))] for j in range(len(MatCoba1))]
# Menampilkan hasil penjumlahan
print("Hasil penjumlahan:")
for baris in hasil:
    print(" ".join(map(str, baris)))

Hasil penjumlahan:
13 10
8 9

In [ ]:
x = MatCoba1 [0][1] + MatCoba2 [1][0]
print(x)

12

In [ ]:
#nomor 6
def hitung_gaji_bersih(gaji_pokok):
  tunjangan = 0.10 * gaji_pokok
  potongan = 0.05 * gaji_pokok
  gaji_bersih = gaji_pokok + tunjangan - potongan
  return int(gaji_bersih)

gaji_pokok = int(input("Masukkan gaji pokok: "))
gaji_bersih = hitung_gaji_bersih(gaji_pokok)
print("Gaji bersih Anda adalah:", gaji_bersih)

Masukkan gaji pokok: 600
Gaji bersih Anda adalah: 630