<a href="https://colab.research.google.com/github/maulanaYanto/Maulana/blob/main/P3_MaulanaApriYanto_2C1240037.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
NumbInt = [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

print(NumbInt[2])

7

In [9]:
X = [0 for i in range(10)]
print(X)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [77]:
Bintang = ['*' for i in range(10)]
print(Bintang)

['*', '*', '*', '*', '*', '*', '*', '*', '*', '*']

In [41]:
Y = [1, 2, 4, -1, 100, 2, 0, -1, 3, 9]
print(Y[4])
Z = Y[4] + Y[9]
print("Z:", Z)

100
Z: 109

In [53]:
Nomor = [0 for i in range(10)]
for i in range(0,10): Nomor[i] = int(input())

1
2
3
4
5
6
7
8
9
0

In [72]:
Barang = ['*' for i in range(5)]
for i in range(0,5):
  print(Barang[i])

*
*
*
*
*

In [84]:
Perusahaan = [0 for i in range(10)]
for i in range (0,10):
  Perusahaan[i] = int(input())
sum = 0
for i in range(0,10):
    sum = sum + NumbInt[i]
rata = sum/10
print ("Nilai rata-rata = " + str(rata))

1
2
3
4
5
5
5
5
5
4
Nilai rata-rata = 3.9

In [112]:
MatMa=[[1,3,5,7,9],
       [2,4,6,8,0],
       [1,4,7,0,1],
       [2,5,8,1,9],
       [1,2,3,4,5]]
for j in range(len(MatMa)):
  for i in range(len(MatMa)):
    print(MatMa[j][i], end=" ")
  print( )

1 3 5 7 9
2 4 6 8 0
1 4 7 0 1
2 5 8 1 9
1 2 3 4 5

In [113]:
print(MatMa[2][4])

1

In [117]:
R = MatMa[3][4] * MatMa[4][3]
print(R)

36

In [104]:
MatLan=[[1,2,3,4,5,6,7,8],
        [2,3,4,5,6,7,8,9],
        [3,4,5,6,7,8,9,0]]
print(MatLan)

[[1, 2, 3, 4, 5, 6, 7, 8], [2, 3, 4, 5, 6, 7, 8, 9], [3, 4, 5, 6, 7, 8, 9, 0]]

In [106]:
MatValue = [[0 for j in range(2)] for i in range(3)]
print(MatValue)

[[0, 0], [0, 0], [0, 0]]