<a href="https://colab.research.google.com/github/maulanaYanto/Maulana/blob/main/P8_Maulana.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#FUNDAMENTAL ARRAY
arr = [10, 20, 30, 40]
print(arr)

[10, 20, 30, 40]

In [2]:
list_numbers = [1, 2, 3, 4, 5]
print(list_numbers)

[1, 2, 3, 4, 5]

In [3]:
list_numbers[0] = 100  # Mengubah elemen pertama menjadi 100
print(list_numbers[0])

100

In [4]:
#MENDEKLARASIKAN ARRAY
arr = [1, 2, 3, 4, 5]
print(arr)

[1, 2, 3, 4, 5]

In [5]:
data = [1, 2, 3, 'hello', 5.5]  # array dengan elemen tipe berbeda
print(data)

[1, 2, 3, 'hello', 5.5]

In [6]:
arr = [0] * 5  # Membuat array dengan 5 elemen, semua berisi 0
print(arr)

[0, 0, 0, 0, 0]

In [7]:
arr = [10, 20, 30, 40]
print(arr[0])  # Output: 10 (indeks pertama)
print(arr[3])  # Output: 40 (indeks terakhir)

10
40

In [8]:
#PEMROSESAN SEKUENSIAL ARRAY
arr = [10, 20, 30, 40, 50]
for elemen in arr:
    print(elemen)

10
20
30
40
50

In [9]:
total = 0
for elemen in arr:
    total += elemen
print(total)  # Output: 150

150

In [10]:
# Latihan Bu Sevi 1
S = [1, 3, 5, 7, 9]
D = int(input("Masukkan nilai D: "))

for i in range(len(S)):
    S[i] *= D

print("Elemen S yang baru:", S)

Masukkan nilai D: 7
Elemen S yang baru: [7, 21, 35, 49, 63]

In [11]:
# Latihan Bu Sevi 2
# Contoh penggunaan
N = 10
T = [9, 12, 30, -1, 0, 4, -1, 3, 60, 14]

terbesar = T[0]
for i in range(1, len(T)):
    if T[i] > terbesar:
        terbesar = T[i]

print("Nilai terbesar:", terbesar)  # Output: 30

Nilai terbesar: 60

In [16]:
# P8
# Buatlah array dengan angka acak
arr = [ 123, 34, 4, 45, 56, 678, 89, 900]

nilai_maks = max(arr)
print("Nilai Maksimum:", nilai_maks)

nilai_min = min(arr)
print("Nilai Minimum:", nilai_min)

hasil_penjumlahan = sum(arr)
print("Hasil Penjumlahan:", hasil_penjumlahan)

jumlah_arr = len(arr)
print("Jumlah Elemen:", jumlah_arr)

rata_rata = hasil_penjumlahan / jumlah_arr
print("Rata-rata:", rata_rata)

Nilai Maksimum: 900
Nilai Minimum: 4
Hasil Penjumlahan: 1929
Jumlah Elemen: 8
Rata-rata: 241.125